body {
    margin-left:4%;
    margin-right:1%;
    padding: 0%;
}
h1.title {

    font-size: 420%;
    text-transform: uppercase;
    color: chocolate;
    font-weight: bold;
}

div.sofkiano-info {
   margin-left: 6pt;
   margin-top: 6pt; 
   padding: 0pt;
    color: chocolate;
 
}

.collapsible-body p {
    margin-left: 0.4rem;
    padding: .7rem;
}
.collapsible-header{
    padding-top: 0.5rem;
    padding-left: 2rem;
}

.resize{
    width:10%; 
    height:10%;
}

.responsiveText{
    font-size:2vw;
    
}

.fixing{
    display: inline-block;
}

.marginText{
   margin: 3%;
}
@media (max-width: 600px) {
    .responsiveText{
        font-size:3vw;
    }

}